<h1><p class="text-center">Listing Diary Entries:</p></h1><br />
<p class="muted">Total number of diary entries so far: <%= @count %> entries </p><br />

	
	<table class="table">
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Mood</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		<% @diary_entries.each do |d| %>
			<tr>
				<td><%= d.title %></td>
				<td><%= d.description %></td>
				<td><%= d.mood %></td>
				<td><%= link_to 'Show', d %></td>
				<td><%= link_to 'Edit', edit_diary_entry_path(d) %></td>
			
			</tr>
		<% end %>
	</table>
	<br />

	<button class="btn btn-info" type="button"><%= link_to 'New Diary Entry', new_diary_entry_path %></button>


