<%= render "calendar" %>

<h2><p class="text-center">Listing Diary Entries:</p></h2><br />
<p class="muted">Total number of diary entries so far: <%= @count %> entries </p><br />

	
	<table class="table table-condensed">
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Mood</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		<% @diary_entries.each do |d| %>
			<tr>
				<td><%= d.title %></td>
				<td><%= d.description %></td>
				<td><%= d.mood %></td>
				<td><%= d.created_at %></td>
				<td><%= link_to 'Show', d, class: 'btn btn-info' %></td>
				<td><%= link_to 'Edit', edit_diary_entry_path(d), class: 'btn btn-warning' %></td>
				<td><%= link_to 'Destroy', d, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</table>
	<br />

	<%= link_to "Previous day", diary_entries_path(day: @day - 1.day), class: 'btn' %> |
	<%= link_to "Next day", diary_entries_path(day: @day + 1.day), class: 'btn' %><br /><br />

	<%= link_to 'New Diary Entry', new_diary_entry_path, class: 'btn btn-info' %> 


